<h1>Create New Meal Plan</h1>
<%= form_for(@mealplan) do |f|%><br>
<%=f.label "Enter Meal Plan Name"%>
<%=f.text_field :name%>
<%=f.label "Monday"%>
<%=f.label "Breakfast"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%>
<%=f.label "Lunch"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%>
<%=f.label "Dinner"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%><br>
<%=f.label "Tuesday"%>
<%=f.label "Breakfast"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%>
<%=f.label "Lunch"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%>
<%=f.label "Dinner"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%><br>
<%=f.label "Wednesday"%>
<%=f.label "Breakfast"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%>
<%=f.label "Lunch"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%>
<%=f.label "Dinner"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%><br>
<%=f.label "Thursday"%>
<%=f.label "Breakfast"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%>
<%=f.label "Lunch"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%>
<%=f.label "Dinner"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%><br>
<%=f.label "Friday"%>
<%=f.label "Breakfast"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%>
<%=f.label "Lunch"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%>
<%=f.label "Dinner"%>
<%=f.collection_select(:id, Meal.all, :id, :name)%>
<%=f.submit "Create Meal Plan" %>
<%end%>
